body {
    background-color: #eaeaea;
    background-attachment: fixed;
    color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: #008080;

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    background-color: #008080;
    /* Teal background color */
    padding: 10px 10px 0 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;

}

#header > h1 {
    text-align: center;
    margin: 0;
    margin-right: 40px;
    color: #000;
}

#header .logo {
    float: left;
    margin-left: 3px;
}

a {
    color: #4682b4;
    text-decoration: none;
}

.register {
    text-align: center;
}

#outputDiv {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
}

#timenow {
    text-align: right;
}

/* Footer Styles */
footer {
    background-color: #555;
    padding: 1%;
    color: #fff;
    text-align: center;
    bottom: 10px;
    position: bottom;
}
.footer{
display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-area: "footer footer footer";
    grid-template-rows: auto 1fr auto;
}